{% extends "base.html" %}

{% block content %}
<br/>
<div class="page-header" align="center">

    <h3>Register New Role</h3>
</div>
<div class="container">

        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
            {{ form_role.hidden_tag()}}
            {{ form_role.name.label(class="form-label") }}
            {{ form_role.name(class="form-control") }}

            <br/>
            {{ form_role.submit(class="btn btn-secondary") }}
            </form>
        </div>
</div>
<br/>
    <h3>Role list</h3>

<div class="container">
    <table  width="300px" class="table table-hover table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        {% for role in roles %}
        <tr>
            <td>{{ role.id }}</td>
            <td>{{ role.name }}</td>
            <td><a href="#">delete</a></td>
        </tr>
        {% endfor %}
</div>




{% endblock %}