{% extends "base.html" %}

{% block content %}


{% for message in get_flashed_messages() %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
{{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}


<br/>
<div class="page-header">
    <h3>Create New User</h3>
    <br/>
</div>
<div class="container">

        <div class="col-md-4">
            <form method="POST" enctype="multipart/form-data">
            {{ form_user.hidden_tag() }}
            {{ form_user.email.label(class="form-label") }}
            {{ form_user.email(class="form-control") }}
            {{ form_user.username.label(class="form-label") }}
            {{ form_user.username(class="form-control") }}

            {{ form_user.password.label(class="form-label") }}
            {{ form_user.password(class="form-control") }}

            {{ form_user.password2.label(class="form-label") }}
            {{ form_user.password2(class="form-control") }}

            {{ form_user.role.label(class="form-label") }}
            {{ form_user.role(class="form-control") }}
            <br/>
            {{ form_user.submit(class="btn btn-secondary") }}
            </form>
        </div>
</div>

{% endblock %}