{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {{ moment.include_moment() }}

{% endblock %}

{% block content %}
<div class="page-header" align="left">

    <h3>Out of stock</h3>

</div>

<br/>

    <table class="table table-hover table-bordered table-striped">
        <tr style="background-color: lightgrey;">
            <th rowspan="2" style="width: 100px;">Int Ref</th>
            <th rowspan="2" style="width: 200px;">Name</th>
            <th colspan="3" >AMPRU/Stock</th>
            <th>PS/Prepair</th>
            <th>SS/Market</th>
            <th>SS/Edu</th>
            <th>PS/Kits</th>
        </tr>
        <tr style="background-color: lightgrey;">

            <td style="width: 100px;">Available</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">Reserved</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">QoH</td>
        </tr>

        {% for product in inventory %}

            <tr>
                {% set date = '2023-03-23 08:24:36.085175' %}
                <td>{{ product["product_int_ref"] }}</td>
                <td>{{ product["product_name"] }}</td>
                <td>-</td>
                <td>{{ product.get("AMPRU/Stock")[0] }}</td>
                <td>-</td>
                <td>{{ product.get("PS/Prepair")[0] }}</td>
                <td>{{ product.get("SS/Stock/Market")[0] }}</td>
                <td>{{ product.get("SS/Stock/Edu")[0] }}</td>
                <td>{{ product.get("PS/Kits")[0] }}</td>
            </tr>
        {% endfor %}

        </table>

<div class="container">

</div>

{% endblock %}