{% extends "base.html" %}

{% block head %}
    {{ super() }}
    {{ moment.include_moment() }}

{% endblock %}

{% block content %}
<div class="page-header" align="left">

    <h3>Out of Stock Products</h3>
    <p>Updated {{ moment(date).fromNow() }}: {{ date.strftime('%B %d, %Y %H:%M:%S') }}</p>
<form method="POST" action="{{ url_for('api.update_out_of_stock_from_odoo_nested') }}">
            {{ form.hidden_tag()}}
            {{ form.submit(class="btn btn-secondary") }}
</form>

</div>

<br/>

    <table class="table table-hover table-bordered table-striped">
        <tr style="background-color: lightgrey;">
            <th rowspan="2" colspan="2" style="width: 150px;">Int Ref</th>
            <th rowspan="2" style="width: 350px;">Name</th>
            <th colspan="3" >AMPRU/Stock</th>
            <th>PS/Prepair</th>
            <th>SS/Market</th>
            <th>SS/Edu</th>
            <th>PS/Kits</th>
        </tr>
        <tr style="background-color: lightgrey;">

            <td style="width: 100px;">Available</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">Reserved</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">QoH</td>
            <td style="width: 100px;">QoH</td>
        </tr>

        {% for product in inventory %}

            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ product["product_int_ref"] }}</td>
                <td>{{ product["product_name"] }}</td>
                <td>{{ product.get("AMPRU/Stock")[1] }}</td>
                <td>{{ product.get("AMPRU/Stock")[0] }}</td>
                <td>{{ product.get("AMPRU/Stock")[2] }}</td>
                <td>{{ product.get("PS/Prepair")[0] }}</td>
                <td>{{ product.get("SS/Stock/Market")[0] }}</td>
                <td>{{ product.get("SS/Stock/Edu")[0] }}</td>
                <td>{{ product.get("PS/Kits")[0] }}</td>
            </tr>
        {% endfor %}

        </table>

<div class="container">

</div>

{% endblock %}